<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.vista.labor.cp.dao.CPApplyFileMapper">

    <insert id="batchInsert">
        INSERT INTO cp_apply_file(
        id,
        apply_id,
        type,
        sn,
        file_name,
        file_ext,
        file_size,
        file_path,
        creator,
        create_time,
        remark
        )
        VALUES
        <foreach collection="dataList" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.applyId,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER},
            #{item.sn,jdbcType=INTEGER},
            #{item.fileName,jdbcType=VARCHAR},
            #{item.fileExt,jdbcType=VARCHAR},
            #{item.fileSize,jdbcType=BIGINT},
            #{item.filePath,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            now(),
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="batchUpdate">
        UPDATE cp_apply_file
        set apply_id = #{applyId,jdbcType=VARCHAR}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="listApplyFile" resultType="com.inspur.vista.labor.cp.entity.CPApplyFileVO">
        SELECT * FROM cp_apply_file
        WHERE apply_id = #{applyId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByApplyId">
        DELETE FROM cp_apply_file WHERE apply_id = #{applyId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteById">
        DELETE FROM cp_apply_file WHERE id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>