<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.vista.labor.cp.dao.CPApplyInfoMapper">


    <insert id="insertSelective">
        insert into cp_apply_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            apply_id,
            <if test="applyType != null">
                apply_type,
            </if>
            <if test="applyReason != null">
                apply_reason,
            </if>
            <if test="step != null">
                step,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="remark != null">
                remark,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{applyId,jdbcType=VARCHAR},
            <if test="applyType != null">
                #{applyType,jdbcType=INTEGER},
            </if>
            <if test="applyReason != null">
                #{applyReason,jdbcType=VARCHAR},
            </if>
            <if test="step != null">
                #{step,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            now(),
        </trim>
    </insert>
    <select id="selectByPrimaryKey" resultType="com.inspur.vista.labor.cp.entity.CPApplyInfoVO">
        SELECT * FROM cp_apply_info WHERE apply_id = #{applyId,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKeySelective">
        update cp_apply_info
        <set>
            <if test="step != null">
                step = #{step,jdbcType=INTEGER},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where
        apply_id = #{applyId,jdbcType=VARCHAR}
    </update>
</mapper>