<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.vista.labor.cp.dao.CPApplyTrackMapper">


    <insert id="insertSelective">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cp_apply_track
        <trim prefix="(" suffix=")" suffixOverrides=",">
            apply_id,
            <if test="step != null">
                step,
            </if>
            <if test="handler != null">
                handler,
            </if>
            <if test="handleLaborId != null">
                handle_labor_id,
            </if>
            <if test="handleResult != null">
                handle_result,
            </if>
            <if test="handleOpinions != null">
                handle_opinions,
            </if>
            <if test="remark != null">
                remark,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{applyId,jdbcType=VARCHAR},
            <if test="step != null">
                #{step,jdbcType=INTEGER},
            </if>
            <if test="handler != null">
                #{handler,jdbcType=VARCHAR},
            </if>
            <if test="handleLaborId != null">
                #{handleLaborId,jdbcType=VARCHAR},
            </if>
            <if test="handleResult != null">
                #{handleResult,javaType=INTEGER},
            </if>
            <if test="handleOpinions != null">
                #{handleOpinions,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            now(),
        </trim>
    </insert>
</mapper>