<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.vista.labor.cp.dao.CPCourtTalentMapper">

    <insert id="insertCourtTalent">
        insert into cp_court_talent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="courtId != null">
                court_id,
            </if>
            <if test="talentId != null">
                talent_id,
            </if>
            <if test="creator != null">
                creator,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="courtId != null">
                #{courtId,jdbcType=VARCHAR},
            </if>
            <if test="talentId != null">
                #{talentId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            now(),
        </trim>
    </insert>

    <delete id="deleteCourtTalent">
        delete from cp_court_talent
        where court_id = #{courtId,jdbcType=VARCHAR}
            and talent_id = #{talentId,jdbcType=VARCHAR}
    </delete>

    <select id="listCourtTalent" resultType="com.inspur.vista.labor.cp.entity.CPCourtTalentListVO">
        select
        cpt.*,
        case when cct.court_id is null then 0 else 1 end as isRelated
        from
        (select
        id,
        name,
        idcard,
        sex,
        nation,
        education,
        political_outlook,
        phone,
        employment_type,
        type,
        is_staffing,
        introduction
        from cp_professional_talent
        where state = 1 and cp_id = #{cpId,jdbcType=VARCHAR}) cpt
        left join
        (select
        court_id,
        talent_id
        from cp_court_talent
        where court_id = #{courtId,jdbcType=VARCHAR}) cct on cpt.id = cct.talent_id
    </select>

</mapper>