<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.vista.labor.cp.dao.CPInfoMapper">

    <select id="selectByPrimaryKey" resultType="com.inspur.vista.labor.cp.entity.CPInfoVO">
        SELECT
        info.*
        FROM
        cp_info info
        WHERE id = #{id,jdbcType=VARCHAR} AND state = 1
    </select>

    <select id="listCPInfo" resultType="com.inspur.vista.labor.cp.entity.CPInfoListVO">
        SELECT
        info.id, info.name,info.service_facilities, info.officials_name, info.officials_phone, info.establish_date,
        info.park_num, info.business_time,info.business_week, info.contact_name, info.contact_phone, info.address
        FROM cp_info info
        LEFT JOIN pub.organ organ ON info.organ_id = organ.ORGAN_ID
        WHERE organ.STRU_PATH LIKE CONCAT(#{struPath,jdbcType=VARCHAR}, '%') AND state = 1
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
        </if>
        <if test="district != null and district != ''">
            AND district LIKE CONCAT(#{district,jdbcType=VARCHAR}, '%')
        </if>
        ORDER BY district ASC,establish_date ASC
    </select>

    <select id="listCPInfoByCantOrType" resultType="com.inspur.vista.labor.cp.entity.CPInfoListVO">
        SELECT
        info.id, info.name,info.service_facilities, info.officials_name, info.officials_phone,
        info.establish_date,
        info.park_num, info.business_time,info.is_all_day, info.business_week,info.contact_name, info.contact_phone,
        info.address,
        ROUND((select st_distance_sphere(point (#{curLng,jdbcType=VARCHAR},
        #{curLat,jdbcType=VARCHAR}),point(info.lng,info.lat)))/1000,1) as distance,
        info.lng,info.lat
<!--        ROUND(-->
<!--                6378.138 * 2 * ASIN(-->
<!--                    SQRT(-->
<!--                        POW(SIN((#{curLat,jdbcType=VARCHAR} * PI() / 180 - info.lat * PI() / 180) / 2),2) + COS(#{curLat,jdbcType=VARCHAR} * PI() / 180) * COS(info.lat * PI() / 180) * POW(-->
<!--                     SIN((#{curLng,jdbcType=VARCHAR} * PI() / 180 -   info.lng * PI() / 180) / 2),2))) * 1000) AS distance-->
        FROM cp_info info
        LEFT JOIN pub.organ organ ON organ.ORGAN_ID = info.organ_id
        LEFT JOIN cp_place_info place ON info.id = place.cp_id
        LEFT JOIN cp_court_info court ON place.id = court.place_id
        LEFT JOIN pub.pub_organ_cant organ_cant ON organ_cant.ORGAN_ID = info.organ_id
        LEFT JOIN pub.pub_cant cant ON cant.CANT_CODE=organ_cant.CANT_CODE
        WHERE
        court.state = 1 AND place.state = 1 AND info.state = 1
        <if test="district != null and district != ''">
            AND (cant.SUPER_CODE = #{district,jdbcType=VARCHAR} OR cant.CANT_CODE = #{district,jdbcType=VARCHAR})
        </if>
        <if test="projectTypeArray != null and projectTypeArray != ''">
            AND court.type IN
            <foreach collection="projectTypeArray" item="projectType" open="(" separator="," close=")">
                #{projectType}
            </foreach>
        </if>
        GROUP BY info.id, info.name,info.service_facilities, info.officials_name, info.officials_phone,
        info.establish_date,
        info.park_num, info.business_time, info.business_week,info.contact_name, info.contact_phone, info.address
        ORDER BY distance asc
    </select>

    <insert id="insertSelective">
        INSERT INTO cp_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="isUnionAssets != null">
                is_union_assets,
            </if>
            <if test="isAloneAccount != null">
                is_alone_account,
            </if>
            <if test="aloneAccount != null">
                alone_account,
            </if>
            <if test="unionLevel != null">
                union_level,
            </if>
            <if test="socialCreditCode != null">
                social_credit_code,
            </if>
            <if test="unitNature != null">
                unit_nature,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="serviceFacilities != null">
                service_facilities,
            </if>
            <if test="officialsName != null">
                officials_name,
            </if>
            <if test="officialsPhone != null">
                officials_phone,
            </if>
            <if test="establishDate != null">
                establish_date,
            </if>
            <if test="buildDate != null">
                build_date,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="cooProject != null">
                coo_project,
            </if>
            <if test="isAllDay != null">
                is_all_day,
            </if>
            <if test="businessTime != null">
                business_time,
            </if>
            <if test="businessWeek != null">
                business_week,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="staffingPeople != null">
                staffing_people,
            </if>
            <if test="realPeople != null">
                real_people,
            </if>
            <if test="onjobPeople != null">
                onjob_people,
            </if>
            <if test="externalPeople != null">
                external_people,
            </if>
            <if test="retirePeople != null">
                retire_people,
            </if>
            <if test="parkNum != null">
                park_num,
            </if>
            <if test="businessRange != null">
                business_range,
            </if>
            <if test="district != null">
                district,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="lng != null">
                lng,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="constructionArea != null">
                construction_area,
            </if>
            <if test="leasedConstructionArea != null">
                leased_construction_area,
            </if>
            <if test="capacity != null">
                capacity,
            </if>
            <if test="organId != null">
                organ_id,
            </if>
            <if test="organCode != null">
                organ_code,
            </if>
            state,
            <if test="creator != null">
                creator,
            </if>
            create_time,
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isUnionAssets != null">
                #{isUnionAssets,jdbcType=INTEGER},
            </if>
            <if test="isAloneAccount != null">
                #{isAloneAccount,jdbcType=INTEGER},
            </if>
            <if test="aloneAccount != null">
                #{aloneAccount,jdbcType=VARCHAR},
            </if>
            <if test="unionLevel != null">
                #{unionLevel,jdbcType=INTEGER},
            </if>
            <if test="socialCreditCode != null">
                #{socialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="unitNature != null">
                #{unitNature,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="serviceFacilities != null">
                #{serviceFacilities,jdbcType=VARCHAR},
            </if>
            <if test="officialsName != null">
                #{officialsName,jdbcType=VARCHAR},
            </if>
            <if test="officialsPhone != null">
                #{officialsPhone,jdbcType=VARCHAR},
            </if>
            <if test="establishDate != null">
                #{establishDate,jdbcType=DATE},
            </if>
            <if test="buildDate != null">
                #{buildDate,jdbcType=DATE},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=INTEGER},
            </if>
            <if test="cooProject != null">
                #{cooProject,jdbcType=VARCHAR},
            </if>
            <if test="isAllDay != null">
                #{isAllDay,jdbcType=INTEGER},
            </if>
            <if test="businessTime != null">
                #{businessTime,jdbcType=VARCHAR},
            </if>
            <if test="businessWeek != null">
                #{businessWeek,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="staffingPeople != null">
                #{staffingPeople,jdbcType=INTEGER},
            </if>
            <if test="realPeople != null">
                #{realPeople,jdbcType=INTEGER},
            </if>
            <if test="onjobPeople != null">
                #{onjobPeople,jdbcType=INTEGER},
            </if>
            <if test="externalPeople != null">
                #{externalPeople,jdbcType=INTEGER},
            </if>
            <if test="retirePeople != null">
                #{retirePeople,jdbcType=INTEGER},
            </if>
            <if test="parkNum != null">
                #{parkNum,jdbcType=INTEGER},
            </if>
            <if test="businessRange != null">
                #{businessRange,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                #{lng,jdbcType=DECIMAL},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=DECIMAL},
            </if>
            <if test="area != null">
                #{area,jdbcType=DECIMAL},
            </if>
            <if test="constructionArea != null">
                #{constructionArea,jdbcType=DECIMAL},
            </if>
            <if test="leasedConstructionArea != null">
                #{leasedConstructionArea,jdbcType=DECIMAL},
            </if>
            <if test="capacity != null">
                #{capacity,jdbcType=INTEGER},
            </if>
            <if test="organId != null">
                #{organId,jdbcType=VARCHAR},
            </if>
            <if test="organCode != null">
                #{organCode,jdbcType=VARCHAR},
            </if>
            1,
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective">
        UPDATE cp_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isUnionAssets != null">
                is_union_assets = #{isUnionAssets,jdbcType=INTEGER},
            </if>
            <if test="isAloneAccount != null">
                is_alone_account = #{isAloneAccount,jdbcType=INTEGER},
            </if>
            <if test="aloneAccount != null">
                alone_account = #{aloneAccount,jdbcType=VARCHAR},
            </if>
            <if test="unionLevel != null">
                union_level = #{unionLevel,jdbcType=INTEGER},
            </if>
            <if test="socialCreditCode != null">
                social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="unitNature != null">
                unit_nature = #{unitNature,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="serviceFacilities != null">
                service_facilities = #{serviceFacilities,jdbcType=VARCHAR},
            </if>
            <if test="officialsName != null">
                officials_name = #{officialsName,jdbcType=VARCHAR},
            </if>
            <if test="officialsPhone != null">
                officials_phone = #{officialsPhone,jdbcType=VARCHAR},
            </if>
            <if test="establishDate != null">
                establish_date = #{establishDate,jdbcType=DATE},
            </if>
            <if test="buildDate != null">
                build_date = #{buildDate,jdbcType=DATE},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=INTEGER},
            </if>
            <if test="cooProject != null">
                coo_project = #{cooProject,jdbcType=VARCHAR},
            </if>
            <if test="isAllDay != null">
                is_all_day = #{isAllDay,jdbcType=INTEGER},
            </if>
            <if test="businessTime != null">
                business_time = #{businessTime,jdbcType=VARCHAR},
            </if>
            <if test="businessWeek != null">
                business_week = #{businessWeek,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="staffingPeople != null">
                staffing_people = #{staffingPeople,jdbcType=INTEGER},
            </if>
            <if test="realPeople != null">
                real_people = #{realPeople,jdbcType=INTEGER},
            </if>
            <if test="onjobPeople != null">
                onjob_people = #{onjobPeople,jdbcType=INTEGER},
            </if>
            <if test="externalPeople != null">
                external_people = #{externalPeople,jdbcType=INTEGER},
            </if>
            <if test="retirePeople != null">
                retire_people = #{retirePeople,jdbcType=INTEGER},
            </if>
            <if test="parkNum != null">
                park_num = #{parkNum,jdbcType=INTEGER},
            </if>
            <if test="businessRange != null">
                business_range = #{businessRange,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=DECIMAL},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=DECIMAL},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=DECIMAL},
            </if>
            <if test="constructionArea != null">
                construction_area = #{constructionArea,jdbcType=DECIMAL},
            </if>
            <if test="leasedConstructionArea != null">
                leased_construction_area = #{leasedConstructionArea,jdbcType=DECIMAL},
            </if>
            <if test="capacity != null">
                capacity = #{capacity,jdbcType=INTEGER},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="listTypeByCpId" resultType="java.util.HashMap">
        select
        di.item_code as itemCode,
        di.item_value as itemValue
        from cp_court_info ci
        left join cp_place_info pi on ci.place_id = pi.id
        left join pub_dict_item di on ci.type = di.item_code
        where
        cp_id = #{cpId,jdbcType=VARCHAR} and ci.state = 1 and pi.state = 1
        group by item_code,item_value
    </select>
    <update id="deleteCPInfoById">
        update cp_info
        set state = 0,
        modifier = #{modifier,jdbcType=VARCHAR},
        update_time = now()
        where
        id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>