<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.vista.labor.cp.dao.CPUsageInfoMapper">

    <!-- 列表(全部) -->
    <select id="listCPUsageInfo" parameterType="java.util.Map" resultType="com.inspur.vista.labor.cp.entity.CPUsageInfoListVO">
        select
        id,
        place_id,
        reserve_id,
        user_code,
        user_phone
        from
        cp_usage_info
        where place_id = #{placeId,jdbcType=VARCHAR}

        order by create_time desc
    </select>

    <!-- 新增-->
    <insert id="insertSelective">
        insert into cp_usage_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="placeId != null">
                place_id,
            </if>
            <if test="reserveId != null">
                reserve_id,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="remark != null">
                remark,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="placeId != null">
                #{placeId,jdbcType=VARCHAR},
            </if>
            <if test="reserveId != null">
                #{reserveId,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            now(),
        </trim>
    </insert>

</mapper>